<section sectionActive id="one" class="section section--1"></section>
<section class="section section--placeholder"></section>
<section sectionActive id="two" class="section section--2"></section>
<section sectionActive id="three" class="section section--3"></section>
<section sectionActive class="section section--4"></section>
<section sectionActive class="section section--7"></section>
<section sectionActive class="section section--6"></section>
<section sectionActive class="section section--5"></section>
<section sectionActive class="section section--8"></section> 