<nav>
  <h3 class="dev-nav__title">{{ title }}</h3>
  <ul class="dev-nav__nav">
    <li class="dev-nav__item"><a class="dev-nav__link" [routerLink]="['/page-one']" routerLinkActive="active">Page One</a></li>
    <li class="dev-nav__item"><a class="dev-nav__link" [routerLink]="'/page-two'" routerLinkActive="active">Page Two</a></li>
    <!-- <li class="nav-item dev-nav__item"><a class="nav-link dev-nav__link" [routerLink]="'/page-three'" routerLinkActive="active">Page
        Three</a></li> -->
    <!-- 
    <li class="nav-item dev-nav__item"><a class="nav-link dev-nav__link"[routerLink]="'/page-four'">Page Four</a></li>
    <li class="nav-item dev-nav__item"><a class="nav-link dev-nav__link"[routerLink]="'/page-five'">Page Five</a></li> -->
  </ul>
</nav>
